FEEDSTRINGS ;
SKIPCHECK ;
#EndRegion

# Cube name: CMBHKForecast
# Description:
# V1.00 - 2022-09-12 - Jithu Varghese - CPM Group : initial version


['LY', 'BUS'] = N: 
                DB( 'CMBaratzaForecast', !Product, !BusinessUnit, !Theatre, 'Actual', ATTRS( 'FiscalMonth', !FiscalMonth, 'PYPeriod' ), !Currency, !CMBaratzaForecastMeasure) ;
